<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/http.js"></script>
</head>
<body>

<div sec:authentication="hasAuthority('admin')">
    This content is only shown to administrators.
</div>
<div sec:authentication="hasRole('user')">
    This content is only shown to users.
</div>

<p th:text="${currentUser.getAuthorities()}"></p>

<div  th:if="${currentUser.getAuthorities()}=='[admin]'"  >
    The value of the "name" property of the authentication object should appear here.
</div>
<div th:if="${currentUser.getAuthorities()}=='[user]'"  >
    The value of the "name" property of the authentication object should appear here.
</div>
<p th:text="${msg.getTitle()}">sadfafdsa</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" class="btn btn-primary" value="注销"/>
</form>
<script>
    $(function () {
       total();
       // setInterval("test()", 10000);
    });
    function total() {
        rs = http_get("countsql");
        $('h1').text(rs.total + "条数据");
        console.log(rs.total)
    }
    function test() {
        http_get("insert",{num:10000});
    }
    
</script>
</body>
</html>