<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{css/bootstrap.min.css}"  rel="stylesheet"/>
</head>
<body>
<a th:href="@{/}">首页</a>
<p th:if="${param.logout}" class="bg-warning">已成功注销</p>
<div id="errorinfo" th:if="${param.error}">
    <font color="red" style="left:2px">无效的用户名密码</font>
</div>
<h1>请使用密码登录</h1>
<form name="form" th:action="@{/login}" method="post">
    <div class="form-group">
        <label for="username">账号</label>
        <input type="text" class="form-control" name="username"/>
    </div>
    <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" name="password"/>
    </div>
    <input type="submit" id="login" class="btn btn-primary"/>
</form>
</body>
</html>