<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{css/css.css}"  rel="stylesheet"/>
</head>
<body>
<a th:href="@{/}">首页</a>
<p th:if="${param.logout}" class="bg-warning">已成功注销</p>
<div id="errorinfo" th:if="${param.error}">
    <font color="red" style="left:2px">无效的用户名密码</font>
</div>

<form name="form" th:action="@{/login}" method="post" id="slick-login">
    <input type="text" name="username"  placeholder="me@tutsplus.com" />
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="Log In" id="login"/>
</form>
</body>
</html>